h1 {
    font-family: verdana;
    text-transform: uppercase;
    font-size: 40px;
    color: orange;
    } /*this rule gives me an orange header that is big, all uppercase and with a verdana font */

h4 {
    font-family: : verdana;
    font-size: 30px;
color: blue;
} /*this rule gives me a blue subtitile that is smaller than the header with a verdana font */

img {
	margin-right: 20px;
	border: 2px solid #333333;
} /*this rule gives me a dark gray border with space between the picture and right text */

img {
	margin-left: 20px;
	border: 2px solid #333333;
    } /*this image was to the left with a border */

h3 {
    font-family: verdana;
    text-transform: uppercase;
    color: red;
}
